<!-- title -->
<app-fn-title title="登入密碼變更" fnctId="F1004" i18n-title="@@nb_f1004_title"></app-fn-title>
<!-- step -->
<app-fn-step *ngIf="getStep()!=0"
  stepItem1="變更" i18n-stepItem1="@@nb_f1004_step1"
  stepItem2="完成" i18n-stepItem2="@@nb_f1004_step2"
  stepItem3=""
  stepItem4=""
  stepItem5=""
  stepItem6=""
  [currentStep]="getStep()" [txnError]="isTxnError">
</app-fn-step>
<!-- 引導頁 -->
<app-fn-guide-page *ngIf=" getStep() == STEP0 && !isTxnError "
  title="您無法執行此交易" i18n-title="@@nb_f1004_guidepage_title"
  content=""
>
</app-fn-guide-page>
<!-- 錯誤頁(交易結果之外的錯誤) -->
<app-fn-error-page  *ngIf=" getStep() == STEP0 && isTxnError"   
  [code]="errorCode" i18n-code=""
  [message]="errorMessage" i18n
  >
</app-fn-error-page>
<!-- 變更頁 -->
<app-form1 *ngIf=" getStep() == STEP1 " (nextEvent)="goStep2($event)"></app-form1>
<!-- 完成頁 -->
<app-form2 *ngIf=" getStep() == STEP2 " ></app-form2>

<!-- loading -->
<form-loading *ngIf="getIsLoading()"></form-loading>

