<!-- form-row-input
     rowName : 欄位名稱(預設)
     i18n-rowName : 欄位名稱(i18n)
     form : 傳遞FormGroup,(用於欄位驗證)
     id : 欄位id=id_XX、name、formControlName(用於欄位驗證)
     isError : 等於true時,顯示紅色輸入匡(使用者輸入有誤)
     isRequired : 等於true時,於欄位名稱前方顯示紅色＊(必填欄位)
     hasKeyboard：是否顯示虛擬動態鍵盤（預設不顯示）
     hasSwitch：是否顯示欄位顯示/隱藏開關（預設不顯示）
    -->
    <form class=" row mar-hor10 mar-t10" [formGroup]="form">
      <div class="col-12 inputItem1 textLeft">
        <span class="fontSize16 fontGray2">{{rowName}}
          <span *ngIf="isRequired==true" class="fontRed">*</span>
          <ng-content #rowName></ng-content>
        </span>

        <div class="inputVerify inputPwd mar-t10" [ngClass]="{'error': isError}">
          <input class="inputBox pwd fontSize16" type="{{this.inputType}}" id="id_{{id}}" name="{{id}}"  (click)="this.dynamicPadService.dynamicPad(id,12)"
            formControlName="{{id}}" required placeholder="請輸入" size="22" maxlength="12" autocomplete="off" readonly
            i18n-placeholder="@@component_placeholder">
          <ng-container *ngIf="hasKeyboard==true">
            <!-- 一般動態鍵盤 -->
            <a #inpiutKeyboard >
              <i class="far fa-keyboard verifyKeyboardIcon fontSize24 mar-r5" i18n-title="@@component_dykeybord"
                title="動態鍵盤"></i>
            </a>
          </ng-container>

          <span *ngIf="hasSwitch==true" class="iconSwitch " [ngClass]="{'active':this.inputType=='password'}"
            (click)="onChange()"></span>
        </div>
      </div>
    </form>
