$imgUrl: '../img/mBank/';
$imgUrl2: '../img/';

$subColor1: #0A896C;
$subColor2: #565758;
$subColor3: #C2994C;
$subColor4: #B4883C;
$subColor5: #707070;
$subColor6: #C29900;
$subColor7: #4DB369;
$subColor8: #575757;
$subColor9: #DADADA;
$subColor10: #F7F7F7;
$subColor11: #CDCDCD;
$subColor12: #F8FDFC;
$subColor13: #108C70;
$subColor14: #009980;
$subColor15: #08886E;
$subColor16: #B4883C;
$subColor17: #F4F4F4;
$subColor18: #00000029;
$subColor19: #ACACAC;
$subColor20: #09896C;
$subColor21: #BCBCBC;
$subColor22: #007858;
$subColor23: #3E747F;
$subColor24: #F4372B;
$subColor25: #FC7D65;
$subColor26: #FFB364;
$subColor27: #22BBF0;
$subColor28: #767676;
$subColor29: #6DA6E0;
$subColor30: #E2E2E2;
$subColor31: #F5AB00;
$subColor32: #B7B6C4;
$subColor33: #636262;
$subColor34: #FEECED;
$subColor35: #00A5EB;
$subColor36: #FFAE4E;
$subColor37: #FFB75F;
$subColor38: #FEECD3;
$subColor39: #E7E7E7;
$subColor40: #565758;
$subColor41: #B1B1B1;
$subColor42: #EAEAEA;
$subColor43: #A9A9A9;
$subColor44: #F54E44;
$subColor45: #AFAFAF;
$subColor46: #DFDFDF;
$subColor47: #F6FBF9;
$subColor48: #5D5D5D;
$subColor49: #4DB369;
$subColor50: #EFEFEF;
$subColor51: #E4E4E5;
$subColor52: #FFD54F;
$subColor53: #FFBEAA;
$subColor54: #C5C5C5;
$subColor55: #90CAF9;
$subColor56: #C5E1A5;
$subColor57: #E7E7E8;
$subColor58: #FAFBFC;
$subColor59: #CECFD2;
$subColor60: #404142;
$subColor61: #58585A;
$subColor62: #BBBBBB;
$subColor63: #E8E8E8;
$subColor64: #0A896D;
$subColor65: #A0A1A2;
$subColor66: #A2A2A2;
$subColor67: #838383;
$subColor68: #34C658;
$subColor69: #E9E9EA;
$subColor70: #DCDCDC;
$subColor71: #009881;
$subColor72: #D0D0D0;
$subColor73: #F6F7F6;
$subColor74: #009688;
$subColor75: #F0FFFC;
$subColor76: #078467;
$subColor77: #BEBEBE;
$subColor78: #D8D8D8;
$subColor79: #006454;
$subColor80: #F5F6F7;
$subColor81: #B1B1B1;

$common_White: #FFFFFF;
$common_Light: #F1F1F1;
$common_Gray: #9B9B9B;
$common_Dark: #404040;
$common_Black: #000000;

// 單行文字溢出顯示省略號
@mixin textOverFlow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
// 多行文字溢出顯示省略號
@mixin multipleTextOverFlow($num) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}
// 控制選單的 li 跟 slider 的定位處理
@mixin subTabPosition($subNum) {
    width: calc(100%/#{$subNum});
    @for $i from 1 through $subNum {
        &.active:nth-of-type(#{$i}) ~ .slider {
            width: calc(100%/#{$subNum} + 6px );
            left: calc((#{$i} - 1)*(100%/#{$subNum}) - 3px ) !important;
        }
    }
}
// 控制選單的 li 跟 slider 的特殊定位處理
@mixin subTabPositionSpecial {
    width: calc((100% - 3.75rem)/3);
    @for $i from 1 through 4 {
        &.active:nth-of-type(#{$i}) ~ .slider {
            width: calc((100% - 3.75rem)/3 + 6px );
            left: calc(((#{$i} - 2)*((100% - 3.75rem)/3)) + 3.75rem - 1px - 3px) !important;
        }
    }
}

.flexVerCenter { align-items: center; }
.w100 {
    width: 100% !important;
}
.w50 { 
    width: calc(50% - 4px) !important;
    vertical-align: top;
    @media screen and (max-width: 768px) {
        width: 100% !important;
    }
}
.w30 { width: 30% !important; }

.webShow { display: initial !important; }
.mobileShow { display: none !important; }

@media screen and (max-width: 768px) {
    .mw100 { width: 100% !important; }
    .webShow { display: none !important; }
    .mobileShow { display: initial !important; }
}

$mer_pad_num: (
    0: 0,
    2: 2px,
    5: 5px,
    8: 0.5rem,
    10: 0.625rem,
    20: 1.25rem,
    30: 1.875rem,
    40: 2.500rem,
    50: 3.125rem,
);
@each $key, $value in map-remove($mer_pad_num) {
    $i: index($mer_pad_num, $key $value);
    .mar-all#{$key} { margin: nth(map-values($mer_pad_num), $i) !important; }
    .mar-t#{$key} { margin-top: nth(map-values($mer_pad_num), $i) !important; }
    .mar-b#{$key} { margin-bottom: nth(map-values($mer_pad_num), $i) !important; }
    .mar-l#{$key} { margin-left: nth(map-values($mer_pad_num), $i) !important; }
    .mar-r#{$key} { margin-right: nth(map-values($mer_pad_num), $i) !important; }
    .mar-hor#{$key} {
        margin-left: nth(map-values($mer_pad_num), $i) !important;
        margin-right: nth(map-values($mer_pad_num), $i) !important;
    }
    .mar-ver#{$key} {
        margin-top: nth(map-values($mer_pad_num), $i) !important;
        margin-bottom: nth(map-values($mer_pad_num), $i) !important;
    }
    .pad-all#{$key} { padding: nth(map-values($mer_pad_num), $i) !important; }
    .pad-t#{$key} { padding-top: nth(map-values($mer_pad_num), $i) !important; }
    .pad-b#{$key} { padding-bottom: nth(map-values($mer_pad_num), $i) !important; }
    .pad-l#{$key} { padding-left: nth(map-values($mer_pad_num), $i) !important; }
    .pad-r#{$key} { padding-right: nth(map-values($mer_pad_num), $i) !important; }
    .pad-hor#{$key} {
        padding-left: nth(map-values($mer_pad_num), $i) !important;
        padding-right: nth(map-values($mer_pad_num), $i) !important;
    }
    .pad-ver#{$key} {
        padding-top: nth(map-values($mer_pad_num), $i) !important;
        padding-bottom: nth(map-values($mer_pad_num), $i) !important;
    }
}