<!-- 交易結果 start -->
<form-title formTitle="交易結果" i18n-formTitle="@@component_formsuccess_01"></form-title>
<div class="content bgWhite noRadius">
    <div class="cardPay">
        <p class="fontSize24 fontGreen2 mar-b10">
            <i class="far fa-check-circle fa-3x mar-r5"></i>
        </p>
        <span class="fontSize24 fontGreen2" i18n="@@component_formsuccess_02">交易成功</span>
    </div>
</div>
<div class="cardBusiness shadowStyle mar-t10 cardGreen">
    <div class="businessList">
        <ng-content>
            
        </ng-content>
    </div>
</div>


<!-- 交易結果 end -->