


/***********dynaKeyPad***********/

.dynamic-pad {
  background: #e4e4e4;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  width: 165px;
  height: 282px;
  display: none;
  /*visibility: visible;*/
  position: absolute;
  right: 30px;
  top: 781px;
  -webkit-box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
  -moz-box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
  box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
}
.dynamic-pad-d {
  background: #e4e4e4;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  width: 165px;
  height: 282px;
  -webkit-box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
  -moz-box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
  box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
}

.dynamic-pad-e {
  background: #e4e4e4;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  width: 165px;
  height: 282px;
  position: absolute;
  -webkit-box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
  -moz-box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
  box-shadow: -1px 7px 15px -4px rgba(0,0,0,0.34);
}

.dynamic-pad-e td, .dynamic-pad-e tr{
	padding: 0;
}

.dynamic-pad-e p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.dynamic-pad h5,
.dynamic-pad-d h5,
.dynamic-pad-e h5 {
  margin: 10px 0 0 !important;
  text-align: center;
}


/* .input {
  height: 40px;
} */
.dynamic-pad-e .input{
	height: 35px;
}

.input input {
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  height: 24px;
  width: 137px;
  margin-top: 5px;
  /* margin-left: 12px; */
  margin-left: 6px \9;
  font-size: 13px;
  /* add  */
  background: white;
  padding-left: 12px;
}

.num {
  float: left;
  height: 40px;
  width: 42px;
  background: #e4e4e4;
  background-color: #ED8228;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(205,114,38,1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(205,114,38,1);
  box-shadow: 0px 2px 0px 0px rgba(205,114,38,1);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  margin: 4px;
}

.num:hover {
  background-color: #EE8E3D;
  cursor: pointer;
}

.key {
  /* margin-left: 7px; */
  margin-left: 5px \9;
}

.num p {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 4px 10px;
  margin-left: 2px;
  margin-top:0px;
  margin-bottom:0px;
  color: #fff;
}

.num11 p, .num12 p {
    font-size: 16px;
    padding: 12px 3px;
    font-weight: normal;
}

p.key-hint {
  font-size: 13px;
  margin: 0px ;
}

h5.dynaPadTitle{
	font-size:16px;
}




