<div class="block mar-ver10">
  <form-success *ngIf=" this.getTxnStatus() == TXNSUCCESS ">
    <!-- 交易內容 start -->
        <div class="row">
          <span class="listTitle fontSize16 fontGray1 col-12 textLeft" i18n="@@nb_f1005_result1">您的交易內容如下：</span>
        </div>
        <div class="row ">
          <span class="listTitle fontSize16 fontGray2 col-4 textLeft" i18n="@@nb_f1005_result2">交易時間</span>
          <span class="listTitle fontSize16 fontGray2 col-6 textLeft"></span>
          <p class="listContent col-12 textLeft fontBold fontBlack mar-t10">{{this.form2Data.transDttm}}</p>
        </div>
        <div class="row">
          <div class=" col-sm-12 col-md-6 col-lg-6 textLeft colBorder1">
            <span class="listTitle fontSize16 fontGray2 textLeft mar-t10" i18n="@@nb_f1005_result3">數字</span>
            <p class="listContent textLeft fontBold fontBlack mar-t10">{{this.form2Data.countInt}}位</p>
          </div>
        </div>

        <!-- 注意事項 -->
        <div class="textLeft">
          <span class="promptTitle fontBold fontRed" i18n="@@nb_f1005_result4">注意事項</span>
          <ul class="listDisc">
            <li class="fontRed mar-t0" i18n="@@nb_f1005_result5">後續使用時請輸入正確密碼</li>
          </ul>
        </div>
    <!-- 交易內容 end -->
  </form-success>

  <form-error *ngIf=" this.getTxnStatus() == TXNERROR ">
    <div class="row ">
        <span class="listTitle fontSize16 fontGray2 col-12 textLeft" i18n="@@nb_f1005_result6">交易狀態</span>
        <p class="listContent col-12 textLeft fontBold fontRed mar-t10">{{errorMessage.message}}</p>
    </div>
    <div class="row ">
        <span class="listTitle fontSize16 fontGray2 col-12 textLeft" i18n="@@nb_f1005_result7">交易時間</span>
        <p class="listContent col-12 textLeft fontBold fontBlack mar-t10">2022/04/07 11:54:06</p>
    </div>
  </form-error>


</div>
