<div class="tabPane exampleStyle webViewBtn">
  <div class="textCenter  fontGray2 mar-ver40">
      <div>
          <span class="fontSize16 ">請確認『憑證設備』已插妥</span>
      </div>
      <!-- <button class="btn" (click)="fxml()">確認</button> -->
  </div>
</div>
<!-- <input name="txTrnsSeq" type="text" value="1234">
<input name="signMsg" type="text" value="<CUST_ID>A1231231230</CUST_ID><TRNS_DATE>20220421000000</TRNS_DATE><BIRTHDAY>20000505</BIRTHDAY><EMAIL>I079DB@FIRSTBANK.COM.TW</EMAIL>">
<input name="signValue" type="text" value="1234">
<input name="fxmlNo" type="text" value="A123123123-00">
<input name="certSno" type="text" value="4EE96844"> -->

