<header class="header notPrint">
  <div class="headerContent">
      <div class="outerLink">
          <ul>
              <li>
                  <a href="http://www.firstholding.com.tw/" target="_blank" i18n="@@nb_header_outerLink01">第一金控</a>
              </li>
              <li>
                  <a href="https://www.firstbank.com.tw/servlet/fbweb/ServiceLocation" target="_blank" i18n="@@nb_header_outerLink02">服務據點</a>
              </li>
              <li>
                  <a href="https://eatm.firstbank.com.tw/" target="_blank" i18n="@@nb_header_outerLink03">eATM</a>
              </li>
              <li>
                  <a href="https://ebank.firstbank.com.tw/" target="_blank" i18n="@@nb_header_outerLink04">第e金網</a>
              </li>
              <li>
                  <a  (click)="changeLanguage()" >{{lang=="en"?"中文":"English"}}</a>
              </li>
          </ul>
      </div>
      <div class="mainLogo">
          <h1>
              <a href="javascript:;">
                  <img src="../../img/logo.svg" width="132" height="49" alt="第一銀行" loading="lazy">
                  <span>第e個網</span>
              </a>
          </h1>
      </div>
  </div>
</header>
