<!-- 交易失敗 start -->
<form-title formTitle="交易結果" i18n-formTitle="@@component_formerror_01"></form-title>
<div class="content bgWhite noRadius">
    <div class="cardPay">
        <p class="fontSize24 fontRed mar-b10">
            <i class="far fa-times-circle fa-3x mar-r5"></i>
        </p>
        <span class="fontSize24 fontRed" i18n="@@component_formerror_02">交易失敗</span>
    </div>
</div>
<div class="cardBusiness shadowStyle mar-t10 cardGreen">
    <div class="businessList">
        <ng-content>
            
        </ng-content>
    </div>
</div>


<!-- 交易失敗 end -->