<!-- title -->
<app-fn-title title="登入代號變更" fnctId="F1003" i18n-title="@@nb_f1003_title"></app-fn-title>
<!-- step -->
<app-fn-step *ngIf=" getStep() != STEP0 "
  stepItem1="變更" i18n-stepItem1="@@nb_f1003_step1"
  stepItem2="完成" i18n-stepItem2="@@nb_f1003_step2"
  stepItem3=""
  stepItem4=""
  stepItem5=""
  stepItem6=""
  [currentStep]="getStep()" [txnError]="isTxnError">
</app-fn-step>
<!-- 引導頁 -->
<app-fn-guide-page *ngIf=" getStep() == STEP0 && !isTxnError "
  title="您無法執行此交易" i18n-title="@@nb_f1003_guidepage_title"
  content=""
>
</app-fn-guide-page>
<!-- 錯誤頁(交易結果之外的錯誤) -->
<app-fn-error-page  *ngIf=" getStep() == STEP0 && isTxnError "   
  [code]="errorCode" i18n-code=""
  [message]="errorMessage" i18n
  >
</app-fn-error-page>
<!-- 變更頁 -->
<app-form1 *ngIf=" this.getStep() == STEP1 " (nextEvent)="goStep2($event)"></app-form1>
<!-- 完成頁 -->
<app-form2 *ngIf=" this.getStep() == STEP2 " ></app-form2>

<!-- loading -->
<form-loading *ngIf="getIsLoading()"></form-loading>




<!-- modal -->
<app-confirm-modal *ngIf="this.showGuardModal"  [isOpen]="this.showGuardModal" 
  title="提醒視窗" i18n-title="@@nb_example_modal_title" 
  btnOk="確認" i18n-btnOk="@@nb_example_modal_btn_ok" 
  btnCancel="取消" i18n-btnCancel="" (btnEvent)="handlenGuardModal($event)"
  [isReaded]="true">
  <!-- modal content -->
  <div class="modalContent" >
    <div class="textContent" >
      <p class="fontGray2" i18n-title="@XXXX">
        您的變更尚未完成，確定要離開嗎?
      </p>
    </div>
  </div>
  <!-- modal content -->
</app-confirm-modal>
<!-- modal -->
