<!-- title -->
<app-fn-title title="登入代號變更" fnctId="F1003" i18n-title="@@nb_f1003_title"></app-fn-title>
<!-- step -->
<app-fn-step *ngIf="getStep()!=0"
  stepItem1="變更" i18n-stepItem1="@@nb_f1003_step1"
  stepItem2="完成" i18n-stepItem2="@@nb_f1003_step2"
  stepItem3=""
  stepItem4=""
  stepItem5=""
  stepItem6=""
  [currentStep]="getStep()" [txnError]="txnError">
</app-fn-step>
<!-- 引導頁 -->
<app-fn-guide-page *ngIf="0==getStep()"
  title="您無法執行此交易" i18n-title="@@nb_f1003_guidepage_title"
  content=""
>
</app-fn-guide-page>
<!-- 變更頁 -->
<app-form1 *ngIf="this.getStep()==1" (nextEvent)="goStep2($event)"></app-form1>
<!-- 完成頁 -->
<app-form2 *ngIf="this.getStep()==2" ></app-form2>

<!-- loading -->
<form-loading *ngIf="getIsLoading()"></form-loading>
