<!-- title -->
<app-fn-title title="登入代號變更" fnctId="F1003" i18n-title="@@nb_f1003_title"></app-fn-title>
<!-- step -->
<app-fn-step stepItem1="變更" i18n-stepItem1="@@nb_f1003_step1"
             stepItem2="完成" i18n-stepItem2="@@nb_f1003_step2"
             stepItem3=""
             stepItem4=""
             stepItem5=""
             stepItem6=""
  [currentStep]="getStep()" [txnError]="txnError">
</app-fn-step>
<!-- form -->
<app-form1 *ngIf="1==getStep()"></app-form1>
<app-form2 *ngIf="2==getStep()" ></app-form2>

