<div class="signContent" style="display: block;">
  <div class="signName">
    <p>
      <span i18n="@@nb_signInfo_welcome">歡迎</span>親愛的客戶
    </p>
    <a class="signBtn" href="javascript:;" i18n="@@nb_signInfo_logOut">登出</a>
  </div>
  <div class="signDate">
    <p>
      <span i18n="@@nb_signInfo_lastLogin">上次登入</span>2021/05/18 上午 09:58:06
    </p>
  </div>
  <div class="signTime">
    <p>
      <span i18n="@@nb_signInfo_timeOut">自動登出</span>8:58
    </p>
    <a class="refreshBtn" href="javscript:;">
      <img width="11" height="11" src="img/icon_refresh.svg" i18n-alt="@@nb_signInfo_resetCounter" alt="重新計時" loading="lazy">
      <ng-container i18n="@@nb_signInfo_resetCounter">
        重新計時
      </ng-container>
    </a>
  </div>
</div>
