<div class="block mar-ver10">
  <div class="mar-all10">
    <div class="content bgWhite">
      <div class="cardPay">
        <p class="fontSize18 fontGreen2">
          <i class="fas fa-exclamation-circle fa-1.5x fontSize24"></i>
          <span style="position: relative; left: 5px;">您無法執行此交易</span>
        </p>
        <hr class="dividerGray">
        <div class="fontGray2 textLeft mar-ver20 pad-hor30">
          您尚未申請SSL交易密碼，如需申請，請您攜帶身分證明文件及本行任一存款帳戶留存印鑑前往分行辦理；僅具數位帳戶者，請攜帶身分證及第二證件(如：健保卡、駕照或護照)。
        </div>
        <button class="btn mar-all10 mar-t20 fontSize16 webViewBtn">
          查詢服務據點
        </button>
      </div>
    </div>
  </div>
</div>
