<div class="modal" [ngClass]="{'active':this.isOpen}">
    <div class="modalDialog wm50">
        <div class="modalTitle noBorder fontSize18 fontGreen2">
            {{title == '' ? '提醒' : title}}
        </div>
        <div class="scrollModal" >
            <ng-content select=".modalContent">

            </ng-content>
         </div>
        <div class="modalBtns btnCheck">
            <button class="btnClose btnBorder mar-all10 msBtn2" (click)="handleCancel()">
                {{btnCancel == '' ? '取消': btnCancel}}
            </button>
            <button class="btnClose btnLight mar-all10" [ngClass]="{'disabled': !this.isReaded}" (click)="handleOk()">{{btnOk == '' ? '確定' : btnOk}}</button>
        </div>
    </div>
</div>