<footer class="notPrint">
  <div>
      <div class="desc">
          <ul>
              <li><a href="javscript:void();" i18n="@@nb_footer_link1">網站地圖</a></li>
              <li><a href="https://www.firstholding.com.tw/sites/firstholding/confidentiality" target="_blank" i18n="@@nb_footer_link2">資料保密通知</a></li>
              <li><a href="https://www.firstbank.com.tw/servlet/fbweb/security" target="_blank" i18n="@@nb_footer_link3">網路安全</a></li>
              <li><a href="https://www.firstbank.com.tw/servlet/fbweb/FixedAnnouncement#tab_tab8" target="_blank" i18n="@@nb_footer_link4">收費標準</a></li>
              <li><a href="javscript:void();" i18n="@@nb_footer_link5">注意事項</a></li>
              <li><a href="javscript:void();" i18n="@@nb_footer_link6">新手上路</a></li>
          </ul>
          <p i18n="@@nb_footer_text1">第一商業銀行股份有限公司 First Commercial Bank 版權所有</p>
          <p i18n="@@nb_footer_text2">24小時銀行客服專線 (02)2181-1111</p>
          <p i18n="@@nb_footer_text3">建議瀏覽器版本：IE11以上、Chrome、Edge或Safari，解析度1024x768為佳</p>
      </div>
      <div class="cdic">
          <ng-container *ngIf="getCurrentLanguage()=='en'; else chineseInsurance">
            <a href="https://www.cdic.gov.tw/main_en/english.html" target="_blank">
                <img id="central-deposit" src="img/central-deposit-insurance-corporation.jpg" width="265" height="265" load="lazy">
            </a>
          </ng-container>
          <ng-template #chineseInsurance>
            <a href="https://www.cdic.gov.tw/main_ch/chinese.html" target="_blank">
                <img id="central-deposit" src="img/central-deposit-insurance-corporation.jpg" width="265" height="265" load="lazy">
            </a>
          </ng-template>
      </div>
  </div>
</footer>
