<footer class="notPrint">
  <div>
      <div class="desc">
          <ul>
              <li><a href="javscript:void();" data-i18n="nb_footer_outerLink01">網站地圖</a></li>
              <li><a href="https://www.firstholding.com.tw/sites/firstholding/confidentiality" target="_blank" data-i18n="nb_footer_outerLink02">資料保密通知</a></li>
              <li><a href="https://www.firstbank.com.tw/servlet/fbweb/security" target="_blank" data-i18n="nb_footer_outerLink03">網路安全</a></li>
              <li><a href="https://www.firstbank.com.tw/servlet/fbweb/FixedAnnouncement#tab_tab8" target="_blank" data-i18n="nb_footer_outerLink04">收費標準</a></li>
              <li><a href="javscript:void();" data-i18n="nb_footer_outerLink05">注意事項</a></li>
              <li><a href="javscript:void();" data-i18n="nb_footer_outerLink06">新手上路</a></li>
          </ul>
          <p>第一商業銀行股份有限公司 First Commercial Bank 版權所有</p>
          <p>24小時銀行客服專線 (02)2181-1111</p>
          <p>建議瀏覽器版本：IE9或更新版本。解析度1024x768</p>
          <p>建議最佳解析度為1280*768以上</p>
      </div>
      <div class="cdic">
          <a href="https://www.cdic.gov.tw/main_ch/chinese.html" target="_blank">
              <img id="central-deposit" src="../../img/central-deposit-insurance-corporation.jpg" width="265" height="265" load="lazy">
          </a>
      </div>
  </div>
</footer>
