<!-- laodings -->
<div class="block">
  <div class="modal modalLoading active">
    <div class="modalDialog btnClose">
      <div class="loading">
        <div class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

  </div>
</div>
