 <!-- select2下拉選單 start-->
<ng-template #select2Template let-item="item">
    <div class="selectBtn1  mar-t10 fontSize16">
        <select class="select2 choose select2-hidden-accessible "
          tabindex="-1" aria-hidden="true">
          <option value="A" data-select2-id="select2-data-10-rlw1">請選擇帳號
          </option>
          <option value="B" data-select2-id="select2-data-20-saax">1085022222
          </option>
          <option value="C" data-select2-id="select2-data-30-6or3">09357016048
          </option>
          <option value="D" data-select2-id="select2-data-28-we7l">0937845564
          </option>
        </select>
      </div>
</ng-template>
 <!-- select2下拉選單 end-->