version: '3.8'

services:
  nginx:
    container_name: angular-sample
    image: roccqqck/angular-sample:0.0.6
    ports:
      - '8081:8081'
      - '8080:8080'
    volumes:
      - ./bitnami-nginx-server-blocks.conf:/opt/bitnami/nginx/conf/server_blocks/bitnami-nginx-server-blocks.conf